<a href="https://colab.research.google.com/github/avikumart/Healthcare-Data-Science/blob/main/Healthcare_lifestyle_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load the dataset

In [1]:
# read the dataframe in R
data <- read.csv("/content/health_lifestyle_dataset.csv")

In [2]:
head(data)

  id age gender bmi  daily_steps sleep_hours water_intake_l calories_consumed
1 1  56  Male   20.5  4198       3.9         3.4            1602
2 2  69  Female 33.3 14359       9.0         4.7            2346
3 3  46  Male   31.6  1817       6.6         4.2            1643
4 4  32  Female 38.2 15772       3.6         2.0            2460
5 5  60  Female 33.6  6037       3.8         4.0            3756
6 6  25  Male   27.3 19495       5.0         4.4            1301
  smoker alcohol resting_hr systolic_bp diastolic_bp cholesterol family_history
1 0      0       97         161         111          240         0
2 0      1       68         116          65          207         0
3 0      1       90         123          99          296         0
4 0      0       71         165          95          175         0
5 0      1       98         139          61          294         0
6 0      1       73         107          65          284         0
  disease_risk
1 0
2 0
3 0
4 0
5 0
6 0

## EDA

In [3]:
# print the missing values
print("missing values in dataset")
print(colSums(is.na(data)))

[1] "missing values in dataset"
               id               age            gender               bmi
                0                 0                 0                 0
      daily_steps       sleep_hours    water_intake_l calories_consumed
                0                 0                 0                 0
           smoker           alcohol        resting_hr       systolic_bp
                0                 0                 0                 0
     diastolic_bp       cholesterol    family_history      disease_risk
                0                 0                 0                 0